{% extends "base.html" %} 

{% block title %}Мой первый Django-сайт{% endblock %} 

{% block content %}
    <header>
        <h1>Здравствуйте! Меня зовут Дмитрий Деденев</h1>
    </header>

    <main>
        <p>
            Я студент GeekBrains. Учусь профессии "Разработчик". В данный момент прохожу курс специализации "Веб-разработка на Python".
        </p>
        <p>
            Мне 42 года. Образование среднее-специальное. С компьютерной техникой дружу примерно лет с 5))). Начиналось всё с Радио-РК86, затем Spectrum, Profi, потом IBM-486 и так далее.
        </p>
    </main>
{% endblock %}