{% extends "base.html" %}

{% block title %}
    {{ title }}
{% endblock title %}

{% block content %}
    {{ name }}<br>
    ---------------------------------<br>
    Количество заказов: {{ count }}<br>
    ---------------------------------<br>
    {% for order in orders %}
        ID заказа: {{ order.pk }}<br>
        ++++++++++++++++++++<br>
        {% for product in order.products_in_order.all %}
        <div>ID товара: {{ product.id }}</div>
        <div>Наименование: {{ product.name }}</div>
        <div>Описание: {{ product.description }}</div>
        <div>Цена: {{ product.price }}</div>
            <div>Фото: 
                {% if product.photo %}
                 <div><img src={{ product.photo.url }} width=20% ></div>
                {% endif %}
            ++++++++++++++++++++<br>
        {% endfor %}
        <div>Сумма заказа: {{ order.total_cost }}</div>
        ----------------------------------------------<br>
    {% endfor %}
    
    
{% endblock content %}