<!DOCTYPE html>
{% load bootstrap3 %}
<html>
  <head>
    
    <script src="{% bootstrap_jquery_url %}"></script>
    {% bootstrap_javascript %}
    {% bootstrap_css %}
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Сайт{% endblock %}</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            line-height: 1.5;
            margin: 0;
            padding: 20px;
            background: linear-gradient(to bottom,  #cdeb8b 0%,#cdeb8b 100%);   
        }
        h1 {color: #333;}
        p {color: #777;}
    </style>
    {% if 'javascript_in_head'|bootstrap_setting %}{% bootstrap_javascript jquery=True %}{% endif %}
    <body>
  </head>
  <body>
    {% block content %}
        <p>Скоро тут появится текст...</p>
    {% endblock %}
  </body>
  <footer>
    <div class="container">
      <p>&copy; Все права защищены. 2024</p>
    </div>
  </footer>
</html>